body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e55a4d;
}

.small-text {
    font-size: 0.9em;
    margin-top: 10px;
}
